
[Unit]
Description=Restore iptables rules
Requires=network.target
After=network.target

[Service]
Type=oneshot
RemainAfterExit=True
ExecStart=/etc/iptables.sh

[Install]
WantedBy=multi-user.target

